# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main.exe   # если ваш исполняемый файл называется main.exe

# Dependency directories
vendor/

# Go workspace files
*.mod
*.sum
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Output of go coverage
*.cover
*.cov
coverage.html

# Temp files
tmp/
temp/